/* IDs */
#cardHeader {
    background-color: mediumpurple;
}

#jumbotron {
    background-color: mediumpurple;
}


#jumbotron {
    text-align: center;
}

#main-pg {
    margin: auto 100px;
}

#submitButton, #theme-toggle {
    background-color: mediumpurple;
    display: block;
    margin: 0 auto;
}


/* Classes */
/* .form-control {
    background-color: #A9A9A9;
}
.card {
    background-color: #696969;
} */


/* Fonts */
h1 {
    font-family: 'Anton', sans-serif;
}

h3, p, main, #theme-toggle {
    font-family: 'Oswald', sans-serif;
    
}

/* General */
body {
    background-image: url(./assets/TrollFace-background-dark.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    body {
        background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/000/091/TrollFace.jpg);
        background-size: 95%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
    }
    #main-pg {
        margin: auto 20px;
    }
  }