#jumbotron {
    background-color: mediumpurple;
}

#submitButton {
    background-color: mediumpurple;
}

#jumbotron {
    text-align: center;
}

#cardHeader {
    background-color: mediumpurple;
}

#main-pg {
    margin: auto 100px;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h3, p, main {
    font-family: 'Oswald', sans-serif;
    
}

body {
    background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/000/091/TrollFace.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/000/091/TrollFace.jpg);
        background-size: 95%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
    }
    #main-pg {
        margin: auto 20px;
    }
  }